#cray_nav {
    display:none;
}
#music_nav {
    display:none;
}
#cinema_nav {
    display:none;
}
#autopia_nav {
    display:none;
}
#buggywhip_nav {
    display:none;
}




.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(72,22,88,1) !important;
}

/* Change the color of the top navigation bar text */
#email {
    display:none;
}
