#cray_nav {
    display:none;
}
#music_nav {
    display:none;
}



.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(72,22,88,1) !important;
}
.text-primary {
    --bs-text-opacity: 1;
    color: rgba(72,22,88,1) !important;
}